*.pdf
Books/Machine_Learning_in_Action/machinelearninginactionSourceCode
Machine_Learning_Stanford_MOOC/courseware
Deep_Learning_AI_Andrew_Ng/Neural Networks and Deep Learning/quiz_snip
Deep_Learning_AI_Andrew_Ng/Neural Networks and Deep Learning/*/*.py
Deep_Learning_AI_Andrew_Ng/Improving Deep Neural Networks/*/*.py
Deep_Learning_AI_Andrew_Ng/Improving Deep Neural Networks/programming assignments
Introduction_to_Programming_with_Matlab/MATLAB-MOOC